body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
.form-gruz{
    max-width: 1080px;
    padding: 15px;
    margin: 0 auto;
}
.form-arbitr{
    max-width: 1080px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin {
    max-width: 360px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}
.form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}


                        /*   ################--- margin 5px ---################   */

.mt-5{
    margin-top: 5px;
}
.ml-5{
    margin-left: 5px;
}
.mb-5{
    margin-bottom: 5px;
}
.mr-5{
    margin-right: 5px;
}



                    /*   ################--- margin 50px ---################   */


.mt-50{
    margin-top: 50px;
}
.ml-50{
    margin-left: 50px;
}
.mb-50{
    margin-bottom: 50px;
}
.mr-50{
    margin-right: 50px;
}


                    /*   #################--- padding 5px ---##################   */

.pt-5{
    padding-top: 5px;
}
.pl-5{
    padding-left: 5px;
}
.pb-5{
    padding-bottom: 5px;
}
.pr-5{
    padding-right: 5px;
}


                    /*   #################--- padding 50px ---##################   */


.pt-50{
    padding-top: 50px;
}
.pl-50{
    padding-left: 50px;
}
.pb-50{
    padding-bottom: 50px;
}
.pr-50{
    padding-right: 50px;
}


                    /*   ###############--- myBootStrap for Gruz ---################   */


.form-gruz1{
    position: relative;
    left: 0px;
    top: 0px;
    width: 250px;
}
.form-gruz2{
    position: relative;
    left: 270px;
    top: -54px;
    width: 250px;
}
.form-gruz3{
    position: relative;
    left: 540px;
    top: -108px;
    width: 520px;
}
.form-gruz4{
    position: relative;
    left: 270px;
    top: -53px;
    width: 250px;
}
.form-gruz5{
    position: relative;
    left: 540px;
    top: -107px;
    width: 520px;
}

.form-gruz6{
    position: relative;
    left: 0px;
    top: -6px;
    width: 250px;
}
.form-gruz7{
    position: relative;
    left: 270px;
    top: -60px;
    width: 250px;
}
.form-gruz8{
    position: relative;
    left: 540px;
    top: -114px;
    width: 250px;
}
.form-gruz9{
    position: relative;
    left: 810px;
    top: -168px;
    width: 250px;
}
.form-gruz10{
    position: relative;
    left: 0px;
    top: -56px;
    width: 250px;
}


.form-gruz11{
    position: relative;
    left: 270px;
    top: -111px;
    width: 250px;
}
.form-gruz12{
    position: relative;
    left: 540px;
    top: -166px;
    width: 250px;
}
.form-gruz13{
    position: relative;
    left: 810px;
    top: -220px;
    width: 250px;
}
.form-gruz14{
    position: relative;
    left: 0px;
    top: -0px;
    width:170px;
}
.form-gruz15{
    position: relative;
    left: 190px;
    top: -55px;
    width: 330px;
}

.form-gruz16{
    position: relative;
    left: 540px;
    top: -109px;
    width: 250px;
}
.form-gruz17{
    position: relative;
    left: 810px;
    top: -164px;
    width: 250px;
}
.form-gruz18{
    position: relative;
    left: 190px;
    top: -0px;
    width:170px;
}
.form-gruz19{
    position: relative;
    left: 380px;
    top: -54px;
    width:170px;
}
.form-gruz20{
    position: relative;
    left: 570px;
    top: -108px;
    width:170px;
}


.form-gruz21{
    position: relative;
    left: 0px;
    top: -0px;
    width:170px;
}
.form-gruz22{
    position: relative;
    left: 190px;
    top: -54px;
    width: 290px;
    height: 100px;
}
.form-gruz23{
    position: relative;
    left: 500px;
    top: -164px;
    width: 170px;}
.form-gruz24{
    position: relative;
    left: 690px;
    top: -218px;
    width:170px;}
.form-gruz25{
    position: relative;
    left: 880px;
    top: -272px;
    width:180px;
}

.form-gruz26{
    position: relative;
    left: 0px;
    top: -0px;
    width:250px;
}
.form-gruz27{
    position: relative;
    left: 270px;
    top: -66px;
    width:250px;
}


                    /*   ##############--- myBootStrap For Arbitr ---#############   */


.form-arbitr1{
    position: relative;
    left: 0px;
    top: 0px;
    width: 520px;
}
.form-arbitr2{
    position: relative;
    left: 540px;
    top: -54px;
    width: 330px;
}
.form-arbitr3{
    position: relative;
    left: 0px;
    top: -100px;
    width: 520px;
}
.form-arbitr4{
    position: relative;
    left: 540px;
    top: -154px;
    width: 170px;
}
.form-arbitr5{
    position: relative;
    left: 0px;
    top: 0px;
    width: 170px;
}

.form-arbitr6{
    position: relative;
    left: 190px;
    top: -54px;
    width: 170px;
}
.form-arbitr7{
    position: relative;
    left: 380px;
    top: -122px;
    width: 170px;
}
.form-arbitr8{
    position: relative;
    left: 540px;
    top: -114px;
    width: 250px;
}
.form-arbitr9{
    position: relative;
    left: 810px;
    top: -168px;
    width: 250px;
}
.form-arbitr10{
    position: relative;
    left: 0px;
    top: -56px;
    width: 250px;
}


.form-arbitr11{
    position: relative;
    left: 270px;
    top: -111px;
    width: 250px;
}
.form-arbitr12{
    position: relative;
    left: 540px;
    top: -166px;
    width: 250px;
}
.form-arbitr13{
    position: relative;
    left: 810px;
    top: -220px;
    width: 250px;
}
.form-arbitr14{
    position: relative;
    left: 0px;
    top: -0px;
    width:170px;
}
.form-arbitr15{
    position: relative;
    left: 190px;
    top: -55px;
    width: 330px;
}

.form-arbitr16{
    position: relative;
    left: 540px;
    top: -109px;
    width: 250px;
}
.form-arbitr17{
    position: relative;
    left: 810px;
    top: -164px;
    width: 250px;
}
.form-arbitr18{
    position: relative;
    left: 190px;
    top: -0px;
    width:170px;
}
.form-arbitr19{
    position: relative;
    left: 380px;
    top: -54px;
    width:170px;
}
.form-arbitr20{
    position: relative;
    left: 570px;
    top: -108px;
    width:170px;
}


.form-arbitr21{
    position: relative;
    left: 0px;
    top: -0px;
    width:170px;
}
.form-arbitr22{
    position: relative;
    left: 190px;
    top: -54px;
    width: 290px;
    height: 100px;
}
.form-arbitr23{
    position: relative;
    left: 500px;
    top: -164px;
    width: 170px;
}
.form-arbitr24{
    position: relative;
    left: 690px;
    top: -218px;
    width:170px;
}
.form-arbitr25{
    position: relative;
    left: 880px;
    top: -272px;
    width:180px;
}

.form-arbitr26{
    position: relative;
    left: 0px;
    top: -0px;
    width:250px;
}
.form-arbitr27{
    position: relative;
    left: 270px;
    top: -66px;
    width:250px;
}
.form-arbitr28{
    position: relative;
    left: 540px;
    top: -114px;
    width: 250px;
}
.form-arbitr29{
    position: relative;
    left: 810px;
    top: -168px;
    width: 250px;
}
.form-arbitr30{
    position: relative;
    left: 0px;
    top: -56px;
    width: 250px;
}


.form-arbitr31{
    position: relative;
    left: 0px;
    top: 0px;
    width: 250px;
}
.form-arbitr32{
    position: relative;
    left: 270px;
    top: -54px;
    width: 250px;
}
.form-arbitr33{
    position: relative;
    left: 540px;
    top: -108px;
    width: 520px;
}
.form-arbitr34{
    position: relative;
    left: 270px;
    top: -53px;
    width: 250px;
}
.form-arbitr35{
    position: relative;
    left: 540px;
    top: -107px;
    width: 520px;
}

.form-arbitr36{
    position: relative;
    left: 0px;
    top: -6px;
    width: 250px;
}
.form-arbitr37{
    position: relative;
    left: 270px;
    top: -60px;
    width: 250px;
}
.form-arbitr38{
    position: relative;
    left: 540px;
    top: -114px;
    width: 250px;
}
.form-arbitr39{
    position: relative;
    left: 810px;
    top: -168px;
    width: 250px;
}
.form-arbitr40{
    position: relative;
    left: 0px;
    top: -56px;
    width: 250px;
}


.form-arbitr41{
    position: relative;
    left: 0px;
    top: 0px;
    width: 250px;
}
.form-arbitr42{
    position: relative;
    left: 270px;
    top: -54px;
    width: 250px;
}
.form-arbitr43{
    position: relative;
    left: 540px;
    top: -108px;
    width: 520px;
}
.form-arbitr44{
    position: relative;
    left: 270px;
    top: -53px;
    width: 250px;
}
.form-arbitr45{
    position: relative;
    left: 540px;
    top: -107px;
    width: 520px;
}

.form-arbitr46{
    position: relative;
    left: 0px;
    top: -6px;
    width: 250px;
}
.form-arbitr47{
    position: relative;
    left: 270px;
    top: -60px;
    width: 250px;
}
.form-arbitr48{
    position: relative;
    left: 540px;
    top: -114px;
    width: 250px;
}
.form-arbitr49{
    position: relative;
    left: 810px;
    top: -168px;
    width: 250px;
}
.form-arbitr50{
    position: relative;
    left: 0px;
    top: -56px;
    width: 250px;
}


.form-arbitr51{
    position: relative;
    left: 0px;
    top: 0px;
    width: 250px;
}
.form-arbitr52{
    position: relative;
    left: 270px;
    top: -54px;
    width: 250px;
}
.form-arbitr53{
    position: relative;
    left: 540px;
    top: -108px;
    width: 520px;
}
.form-arbitr54{
    position: relative;
    left: 270px;
    top: -53px;
    width: 250px;
}
.form-arbitr55{
    position: relative;
    left: 540px;
    top: -107px;
    width: 520px;
}

.form-arbitr56{
    position: relative;
    left: 0px;
    top: -6px;
    width: 250px;
}
.form-arbitr57{
    position: relative;
    left: 270px;
    top: -60px;
    width: 250px;
}
.form-arbitr58{
    position: relative;
    left: 540px;
    top: -114px;
    width: 250px;
}
.form-arbitr59{
    position: relative;
    left: 810px;
    top: -168px;
    width: 250px;
}
.form-arbitr60{
    position: relative;
    left: 0px;
    top: -56px;
    width: 250px;
}


                    /*   ################--- buttons for Gruz ---################   */


.btn-gruz-place{
    position: relative;
    left: 20px;
    top: 680px;
    width:250px;
}
.btn-gruz-place2{
    position: relative;
    left: 800px;
    top: 620px;
    width:250px;
}


                    /*   ################--- buttons for Arbitr ---################   */


.btn-arbitr-place{
    position: relative;
    left: 20px;
    top: 680px;
    width:250px;
}
.btn-arbitr-place2{
    position: relative;
    left: 800px;
    top: 620px;
    width:250px;
}


                    /*   ################--- *************** ---################   */


.ui-widget{

    position: relative;
    left: 0px;
    top: 90px;
    width:250px;
}


